<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @competency.number %>
</p>

<p>
  <b>Title:</b>
  <%= @competency.title %>
</p>

<p>
  <b>Section:</b>
  <%= @competency.section %>
</p>


<%= link_to 'Edit', edit_competency_path(@competency) %> |
<%= link_to 'Back', competencies_path %>
